<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>New user</strong></h3>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to users_path, class: 'btn btn-default btn-primary' do %>
    <i class='icon-left-big'></i> Back
<% end %>
