<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="/images/about-us.jpg" alt="about-us">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Consulting Empowers You</h4>
    Фирмата „Коректив Експрес“ ЕООД е създадена през 2012г. и е специалист в областта на консултантските услуги.Главната цел на фирмата е високо ниво на компетентност и отговорност, високо качество на работа, иновативност и творчески подход при предлаганите услуги. За нас най-важни са високият професионализъм, добрите партньорски отношения ,които са основа за създаването на трайно и дългосрочно сътрудничество. Сферата на образованието и бизнеса са  динамични системи,които  се нуждаят от добре подготвени кадри.
    Нашият постоянен стремеж е да се усъвършенстваме и да бъдем  адаптивни към бързо променящите се обществени процеси.
  </div>
</div>