<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="/images/about-us.jpg" alt="about-us">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Consulting Empowers You</h4>
    „Коректив Експрес“ ЕООД е създаден през 2012 година, в резултат на дългогодишнен опит в областта на професионалните бизнес консултации свързани с правни, данъчни, счетоводни решения и бизнес консултиране.
    Дейността на фирмата е насочена към предлагане на комплексна услуга в областта на професионалните консултантски услуги ,провежаднето на семирани и конференции, информиращи за най-новите и актуални въпроси свързани с европейското право, както и разрешаването на правни проблеми в сферата на образованието.
  </div>
</div>