<div class="row">

  <div class="col-md-12">

    <div class="jumbotron">
      <div class="container">
        <img src="/images/welcome.jpg" style="width: 100%; height: 400px; object-fit: contain;">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail home-thumbnail">
          <img src="/images/welcome-sub-01.jpg">
          <div class="caption">
            <p>В Коректив Експрес се предлага широк спектър от консултантски услуги, съобразени с нуждите на нашите клиенти. Основната цел на консултантските услуги е да допринесат за правилното и законосъобразно прилагане на разпоредбите на Кодекса на труда, ЗОП, Закон за предучилищното и училищното образование и всички подзаконови нормативни актове в тази насока.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail home-thumbnail">
          <img src="/images/welcome-sub-02.jpg">
          <div class="caption">
            <p>Промените, които настъпиха в обществено-политическата обстановка в страната, рефлектираха и в сферата на образованието. Повече от ясно е, че без внимателен и задълбочен прочит на законодателната уредба, касаеща сферата на образованието, не е възможно директорите на учебните заведения да са коректни и справедливи ръководители и мениджъри.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail home-thumbnail">
          <img src="/images/welcome-sub-03.jpg">
          <div class="caption">
            <p>Доброто познаване на нормативната уредба създава ясни правила за работа и осигурява значително намаляване на разходите, вследствие на правилен първоначален подбор на персонала за постигането на качествен учебен процес, извънсъдебно решаване на възникналите проблеми, както и правилна ориентация в съдебната защита при възникване на спорове.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>